/* height */    
.h-1{
    height: var(--1);
  }
  .h-2{
    height: var(--2);
  }
  .h-3{
    height: var(--3);
  }
  .h-4{
    height: var(--4);
  }
  .h-5{
    height: var(--5);
  }
  .h-6{
    height: var(--6);
  }
  .h-7{
    height: var(--7);
  }
  .h-8{
    height: var(--8);
  }
  .h-9{
    height: var(--9);
  }
  .h-10{
    height: var(--10);
  }
  .h-11{
    height: var(--11);
  }
  .h-12{
    height:var(--12);
  }
  .h-13{
    height:var(--13);
  }
  .h-14{
    height:var(--14);
  }
  .h-15{
    height:var(--15);
  }
  .h-16{
    height:var(--16);
  }
  .h-17{
    height:var(--17);
  }
  .h-18{
    height:var(--18);
  }
  .h-19{
    height:var(--19);
  }
  .h-20{
    height:var(--20);
  }
  .h-21{
    height:var(--21);
  }
  .h-22{
    height:var(--22);
  }
  .h-23{
    height:var(--23);
  }
  .h-24{
    height:var(--24);
  }
  .h-25{
    height:var(--25);
  }
  .h-26{
    height:var(--26);
  }
  .h-27{
    height: var(--27); 
  }
  .h-28{
    height: var(--28); 
  }
  .h-29{
    height: var(--29); 
  }
  .h-30{
    height: var(--30); 
  }
  .h-31{
    height: var(--31); 
  }
  .h-32{
    height: var(--32); 
  }
  .h-33{
    height: var(--33); 
  }
  .h-34{
    height: var(--34); 
  }
  .h-35{
    height: var(--35); 
  }
  .h-36{
    height: var(--36); 
  }
  .h-37{
    height: var(--37); 
  }
  .h-38{
    height: var(--38); 
  }
  .h-39{
    height: var(--39); 
  }
  .h-40{
    height: var(--40);
  }
  .h-41{
    height: var(--41);
  }
  .h-42{
    height: var(--42);
  }
  .h-43{
    height: var(--43);
  }
  .h-44{
    height: var(--44);
  }
  .h-45{
    height: var(--45);
  }
  .h-46{
    height: var(--46);
  }
  .h-47{
    height: var(--47);
  }
  .h-48{
    height: var(--48);
  }
  .h-48{
    height: var(--48);
  }
  .h-49{
    height: var(--49);
  }
  .h-50{
    height: var(--50);
  }
  .h-51{
    height: var(--51);
  }
  .h-52{
    height: var(--52);
  }
  .h-53{
    height: var(--53);
  }
  .h-54{
    height: var(--54);
  }
  .h-55{
    height: var(--55);
  }
  .h-56{
    height: var(--56);
  }
  .h-57{
    height: var(--57);
  }
  .h-58{
    height: var(--58);
  }
  .h-59{
    height: var(--59);
  }
  .h-60{
    height: var(--60);
  }
  .h-61{
    height: var(--61);
  }
  .h-62{
    height: var(--62);
  }
  .h-63{
    height: var(--63);
  }
  .h-64{
    height: var(--64);
  }
  .h-65{
    height: var(--65);
  }
  .h-66{
    height: var(--66);
  }
  .h-67{
    height: var(--67);
  }
  .h-68{
    height: var(--68);
  }
  .h-69{
    height: var(--69);
  }
  .h-70{
    height: var(--70);
  }
  .h-71{
    height: var(--71);
  }
  .h-72{
    height:var(--72);
  }
  .h-73{
    height:var(--73);
  }
  .h-74{
    height:var(--74);
  }
  .h-75{
    height:var(--75);
  }
  .h-76{
    height:var(--76);
  }
  .h-77{
    height:var(--77);
  }
  .h-78{
    height:var(--78);
  }
  .h-79{
    height:var(--79);
  }
  .h-80{
    height:var(--80);
  }
  .h-81{
    height:var(--81);
  }
  .h-82{
    height:var(--82);
  }
  .h-83{
    height:var(--83);
  }
  .h-84{
    height:var(--84);
  }
  .h-85{
    height:var(--85);
  }
  .h-86{
    height:var(--86);
  }
  .h-87{
    height:var(--87);
  }
  .h-88{
    height:var(--88);
  }
  .h-89{
    height:var(--89);
  }
  .h-90{
    height:var(--90);
  }
  .h-91{
    height:var(--91);
  }
  .h-92{
    height:var(--92);
  }
  .h-93{
    height:var(--93);
  }
  .h-94{
    height:var(--94);
  }
  .h-95{
    height:var(--95);
  }
  .h-96{
    height:var(--96);
  }
  .h-screen{
  height: var(--screen-h);
  }
  .h-half {
    height: var(--half);
  }
  /* width */
  .w-1{
    width: var(--1)
  }
  .w-2{
    width: var(--2)
  }
  .w-3{
    width: var(--3)
  }
  .w-4{
    width: var(--4)
  }
  .w-5{
    width: var(--5)
  }
  .w-6{
    width: var(--6)
  }
  .w-7{
    width: var(--7);
  }
  .w-8{
    width: var(--8);
  }
  .w-9{
    width: var(--9);
  }
  .w-10{
    width: var(--10);
  }
  .w-11{
    width: var(--11);
  }
  .w-12{
    width: var(--12);
  }
  .w-13{
    width: var(--13);
  }
  .w-14{
    width: var(--14);
  }
  .w-15{
    width: var(--15);
  }
  .w-16{
    width: var(--16);
  }
  .w-17{
    width: var(--17);
  }
  .w-18{
    width: var(--18);
  }
  .w-19{
    width: var(--19);
  }
  .w-20{
    width: var(--20);
  }
  .w-21{
    width: var(--21);
  }
  .w-22{
    width: var(--22);
  }
  .w-23{
    width: var(--23);
  }
  .w-24{
    width: var(--24);
  }
  .w-25{
    width: var(--25);
  }
  .w-26{
    width: var(--26);
  }
  .w-27{
    width: var(--27); 
  }
  .w-28{
    width: var(--28); 
  }
  .w-29{
    width: var(--29); 
  }
  .w-30{
    width: var(--30); 
  }
  .w-31{
    width: var(--31); 
  }
  .w-32{
    width: var(--32); 
  }
  .w-33{
    width: var(--33); 
  }
  .w-34{
    width: var(--34); 
  }
  .w-35{
    width: var(--35); 
  }
  .w-36{
    width: var(--36); 
  }
  .w-37{
    width: var(--37); 
  }
  .w-38{
    width: var(--38); 
  }
  .w-39{
    width: var(--39); 
  }
  .w-40{
    width: var(--40);
  }
  .w-41{
    width: var(--41);
  }
  .w-42{
    width: var(--42);
  }
  .w-43{
    width: var(--43);
  }
  .w-44{
    width: var(--44);
  }
  .w-45{
    width: var(--45);
  }
  .w-46{
    width: var(--46);
  }
  .w-47{
    width: var(--47);
  }
  .w-48{
    width: var(--48);
  }
  .w-49{
    width: var(--49);
  }
  .w-50{
    width: var(--50);
  }
  .w-51{
    width: var(--51);
  }
  .w-52{
    width: var(--52);
  }
  .w-53{
    width: var(--53);
  }
  .w-54{
    width: var(--54);
  }
  .w-55{
    width: var(--55);
  }
  .w-56{
    width: var(--56);
  }
  .w-57{
    width: var(--57);
  }
  .w-58{
    width: var(--58);
  }
  .w-59{
    width: var(--59);
  }
  .w-60{
    width: var(--60);
  }
  .w-61{
    width: var(--61);
  }
  .w-62{
    width: var(--62);
  }
  .w-63{
    width: var(--63);
  }
  .w-64{
    width: var(--64);
  }
  .w-65{
    width: var(--65);
  }
  .w-66{
    width: var(--66);
  }
  .w-67{
    width: var(--67);
  }
  .w-68{
    width: var(--68);
  }
  .w-69{
    width: var(--69);
  }
  .w-70{
    width: var(--70);
  }
  .w-71{
    width: var(--71);
  }
  .w-72{
    width: var(--72);
  }
  .w-73{
    width: var(--73);
  }
  .w-74{
    width: var(--74);
  }
  .w-75{
    width: var(--75);
  }
  .w-76{
    width: var(--76);
  }
  .w-77{
    width: var(--77);
  }
  .w-78{
    width: var(--78);
  }
  .w-79{
    width: var(--79);
  }
  .w-80{
    width: var(--80);
  }
  .w-81{
    width: var(--81);
  }
  .w-82{
    width: var(--82);
  }
  .w-83{
    width: var(--83);
  }
  .w-84{
    width: var(--84);
  }
  .w-85{
    width: var(--85);
  }
  .w-86{
    width:var(--86);
  }
  .w-87{
    width:var(--87);
  }
  .w-88{
    width:var(--88);
  }
  .w-89{
    width:var(--89);
  }
  .w-90{
    width:var(--90);
  }
  .w-91{
    width:var(--91);
  }
  .w-92{
    width:var(--92);
  }
  .w-93{
    width:var(--93);
  }
  .w-94{
    width:var(--94);
  }
  .w-95{
    width:var(--95);
  }
  .w-96{
    width:var(--96);
  }
  .max-w-xs {
    max-width: var(--5);
  }
  .w-quart{
    width: var(--quart);
  }
  .w-half{
    width: var(--half);
  }
  .w-full{
    width:var(--full);
  }
  .w-screen{
    width:var(--screen-w);
  }
  /* text color */
  .text-primary{
    color: var(--primary)
  }
  /* text size */
  .text-xs{
    font-size:var(--3);
    line-height: var(--4);
  }
  .text-sm{
    font-size: 0.875rem; /* 14px */
  line-height: var(--5);
  }
  .text-base {
    font-size: var(--4);
    line-height: var(--6);
  }
  .text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: var(--7);
  }
  .text-xl {
    font-size: var(--5);
    line-height: var(--7);
    }
    .text-2xl { 
    font-size: var(--6); /* 24px */
    line-height: var(--8); /* 32px */
    }
    .text-3xl { 
      font-size: 1.875rem; /* 30px */
      line-height: var(--9); /* 36px */
      }
  .text-4xl{
    font-size: var(--9);
    line-height: var(--9);
  }
  .text-5xl{
    font-size: var(--12);
    line-height: 1;
  }
  .text-6xl{
    font-size: var(--15);
    line-height: 1;
  }
  .text-7xl{
    font-size: var(--18);
    line-height: 1;
  }
  .semibold{
  font-weight: 600;
  }
  .bold{
    font-weight: 700;
    }
  .capitalize{
  text-transform:capitalize;
  }
  /* display */
  .flex{
   display: flex;
  }
  .block{
   display: block;
  }
  /* flex */
  .items-center{
   align-items: center;
  }
  .justify-between{
   justify-content: space-between;
  }
  .justify-center{
    justify-content: center;
   }
  
   .flex-col{
    flex-direction: column;
   }
  .space-x-4 > * {
   margin: 0 var(--4);
  }
  /* margin */
  .mt-0{
    margin-top: var(--0);
  }
  .m-4{
    margin: var(--4);
  }
  .mt-8{
    margin-top: var(--8);
  }
  .mx-12{
    margin: var(--12);
  }
  .mr-12{
    margin: var(--12);
  }
  .mb-6{
    margin-bottom: var(--6); 
  }
  .mb-7{
    margin-bottom: var(--7); 
  }
  .mb-8{
    margin-bottom: var(--8); 
  }
  .mb-9{
    margin-bottom: var(--9); 
  }
  .mb-12{
    margin-bottom: var(--12); 
  }
  .mt-16{
    margin-top: var(--16);
  }
  .mb-16{
    margin-bottom: var(--16);
  }
  .mb-18{
    margin-bottom: var(--18);
  }
  .mt-18{
    margin-top: var(--18);
  }
  .my-18 {
    margin-top: var(--18);
   margin-bottom: var(--18);
  }
  .my-10 {
    margin-top: var(--10);
   margin-bottom: var(--10);
  }
  .mb-32 {
    margin-bottom: var(--32);
  }
  /* padding */
  .p-0{
    padding: var(--0);
  }
  .p-2{
    padding: var(--2);
  }
  .py-4{
    padding-top: var(--4);
    padding-bottom: var(--4);
  }
  .px-12{
   padding-left:var(--12) ;
   padding-right:var(--12) ;
  }
  .pl-12{
    padding-left: var(--12);
  }
  .pb-8 {
    padding-bottom: var(--8);
  }
  .pb-10 {
    padding-bottom: var(--10);
  }
  .pr-5 {
    padding-right: var(--5);
  }
  .py-5 {
    padding-top: var(--5);
    padding-bottom: var(--5);
  }
  .py-6 {
    padding-top: var(--6);
    padding-bottom: var(--6);
  }
  .pr-12{
    padding-right: var(--12);
  }
  .pt-24{
    padding-top: var(--24);
  }
  .pt-22{
    padding-top: var(--22);
  }
  .pt-28{
    padding-top: var(--28);
  }
  .pt-32{
    padding-top: var(--32);
  }
  .pt-34 {
    padding-top: var(--34);
  }
  .pt-36 {
    padding-top: var(--36);
  }
  /* background color*/
  .bg-muted {
    background-color: var(--muted);
  }
  .bg-white {
    background-color: var(--white);
  }
  .btn{
   display: inline-flex;
   height: var(--15);
   min-height: var(--15);
   max-width: var(--40);
   flex-shrink: 0;
   cursor: pointer;
   user-select: none;
   -webkit-user-select: none;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   border-radius: var(--rounded-btn);
   border-color: var(--body);
   border-style: solid;
   padding-left: 1rem;
   padding-right: 1rem;
   text-align: center;
   font-size: var(--4);
   gap: 0.5rem;
   font-weight:400;
   text-decoration-line: none;
   transition-duration: .2s;
   text-transform: capitalize;
  }
  .btn-link{
    border: none;
  }
  .btn-outline{
   background-color: transparent;
   border: var(--body) solid 2px;
  }
  .btn-primary{
    border-color: var(--primary);
    color: var(--primary);
  }
  .btn-primary:not(.btn-outline){
   background-color: var(--primary);
   color: var(--muted);
  }
  .btn-dribble {
    max-width: fit-content;
  background-color: var(--dribble);
  border: none;
  font-size: var(--5);
  color: var(--white);
  }
  .leading-relaxed{
    line-height: 1.625;
  }
  /* position */
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }
  /* grid */
  .grid {
    display: grid;
  }
  .grid-cols-3{
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }	
  .grid-cols-2{
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }	
  .grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
   }	
   .gap-x-1{
    column-gap: 0.25rem; /* 4px */
   }	
   .gap-x-4{
    column-gap: var(--4);
   }	
   .gap-x-8{
    column-gap: var(--8);
   }	
   .gap-x-10{
    column-gap: var(--10);
   }	
   .gap-x-12{
    column-gap: var(--12);
   }	
   .rounded {
  border-radius: var(--rounded-btn);
   }
   .rounded-full {
    border-radius: 9999px;
   }
   /* shadow */
   .box-shadow {
    box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 0.10);
   }
   /* border */
   .muted-border {
    border: 1px var(--dark-muted) solid;
   }
  .dark-muted{
    color: var(--dark-muted);
   }
   .border-bottom {
    border-bottom: 1px grey solid;
   }
  .input {
    flex-shrink: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-radius: var(--rounded-btn);
    border-width: 1px;
    border-color: transparent;
    background-color: var(--white);
  }
  .input-primary {
    border: 1px solid var(--primary);
  }